:root {
    --h-full: 100%;
    --w-full: 100%;
    --h-half: 50%;
    --w-half: 50%;

    --h-screen: 100vh;
    --w-screen: 100vw;

    --br-radius-full: 100%;
    --br-radius-half: 50%;

    --w-profile-picture: 50px;
    --h-profile-picture: 50px;

    --h-sidebar-header : 100px;
    --w-app-sidebar: 84px;
    --w-chatlist-container: 450px;

    /* chatlist area heights for calc function  */
    --h-search-bar: 80px;
    --h-chatlist-header: 100px;
    --h-archieve-container: 50px;

    /* conversation area heights for calc function  */
    --h-conversation-header: 100px;
    --h-conversation-footer: 70px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5; 
    color: var(--c-grey-300);
    background-color: var(--c-black);
    font-size: 12px;
    font-family: var(--font-regular);
}


::placeholder {
    color: var(--c-grey-300);
    font-size: 12px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--c-blue-200);
}


ul li { list-style-type: none; list-style: none; }
a { text-decoration: none; cursor:pointer; }



/* <i class="ri-function-line"></i>
<i class="ri-compass-3-line"></i>
<i class="ri-message-2-line"></i>
<i class="ri-heart-line"></i>
<i class="ri-bookmark-line"></i> */