.app-container {
  display: flex;
  flex-direction: row;
  max-width: 1440px ;
  height: var(--h-screen);
  margin: 0 auto;
  
}

/* App sidebar */
.app-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: var(--w-app-sidebar);
  height: var(--h-screen);
  padding-bottom: 60px;
  background-color: var(--c-white);
}

.app-sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  width: var(--w-full);
}

.logo-container {
  display: grid;
  place-items: center;
  width: var(--w-full);
  height: var(--h-sidebar-header);
}

.app-sidebar-logo {
  width: 40px;
  height: 40px;
}

.app-sidebar-icons {
  text-align: center;
  width: 100%;
  font-size: 22px;
  color: var(--c-grey-300);
  transition: color 0.15s ease-in-out;
}

.app-sidebar-menu .active  {
  font-size: 24px;
  color: var(--c-blue-300);
  box-shadow: var(--shadow-blue);
}

.app-sidebar-icons:hover {
  color: var(--c-blue-300);
}
/* \\\\ end of app sidebar */





/* Chat list area - SECTION 1 */
.app-chat-container {
  display: flex;
  width: calc(100% - var(--w-app-sidebar));
  height: var(--h-full);
  background-color: var(--c-white);
}

.chat-list-container {
  width: var(--w-chatlist-container);
  height: var(--h-full);
  background-color: var(--c-blue-100);
}

/* header */
.chat-list-header {
  display: flex;
  align-items:center;
  height: var(--h-chatlist-header);
  padding: 0 22px;
  border-bottom: 1px solid var(--c-grey-200);
}

.chat-list-user-details{
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-image {
  display: block;
  width: var(--w-profile-picture);
  height: var(--h-profile-picture);
  border-radius: var(--br-radius-full);
  object-fit: cover;
}


/* search bar */
.chat-list-search-bar {
  height: var(--h-search-bar);
  padding: 20px 16px;
  position: relative;
}

.search-icon {
  width: 15px;
  position: absolute;
  top: 31px;
  left: 30px;
}

.chat-list-input {
  width: var(--w-full);
  padding: 10px 32px 10px 34px;
  border-radius: var(--br-25);
  outline: none;
  border: none;
}

/* archive count */
.archieve-count-container {
  text-align: center;
  height: var(--h-archieve-container);
}

.archive-btn{
  height: var(--h-full);
  color: var(--c-grey-300);
}

.archieve-icon {
  font-size: 16px;
}

/* messeged contacts list  */
.messeged-contacts-container {
  height: calc(100% - (var(--h-chatlist-header) + var(--h-archieve-container) + var(--h-search-bar)));
  padding: 0 10px;
  overflow-y: auto;
}

.messeged-contact-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 13px 16px;
  color: var(--c-black);
  border-radius: var(--br-8);
}

.messeged-contact-link:hover {
  background-color: var(--c-blue-200);
}

.messeged-contact-image {
  display: block;
  width: var(--w-profile-picture);
  height: var(--h-profile-picture);
  border-radius: var(--br-radius-full);
  object-fit: cover;
}

.messaged-contact-info {
  width: var(--w-full);
}

.messaged-contact-name {
  font-family: var(--font-medium);
  font-size: 16px;
  font-weight: 500;
}

.messaged-contact-more {
  text-align: center;
  position: relative;
}

.unread-count-container {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--c-blue-300);
  border-radius: var(--br-radius-half);
}

.unread-count{
  color: var(--c-white);
  position: absolute;
  bottom: 23px;
  left: 21px;
}

.messaged-time {
  color: var(--c-grey-300);
}

.read-recipts{
  font-size: 22px;
  color: var(--c-grey-200)
}

.active > .messeged-contact-link {
  background-color: var(--c-blue-300);
  color: var(--c-white);
}

.active .secondary-text,
.active .messaged-time {
  color: var(--c-grey-100)
}
/* \\\\ end of SECTION 1  */




/* conversation area - SECTION 2 */
.conversation {
  width: calc(100% - var(--w-chatlist-container));
  height: var(--h-full);
}

/* header */
.conversation-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--h-conversation-header);
  padding: 0 22px;
  border-bottom: 1px solid var(--c-grey-200);
}

.active-user-profile {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.conversation-header-icons {
  display: flex;
  align-items:center;
  column-gap: 12px;
}

.icon-button {
  width: 35px;
  height: 35px;
  font-size: 22px;
  background-color: var(--c-blue-100);
  color: var(--c-grey-300);
  border-radius: var(--br-8);
  cursor: pointer;
  border:none;
}

.icon-button:hover {
  color: var(--c-blue-300);
}

/* conversation body */
.conversation-main {
  height: calc(100% - (var(--h-conversation-header) + var(--h-conversation-footer)));
  padding: 20px;
  overflow-y: auto;
}

.conversation-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.current-convo-day {
  position: sticky;
  top: 0;
}

.day {
  padding: 5px 14px;
  background-color: var(--c-blue-100);
  border-radius: var(--br-25);
  position: absolute;
  left: 50%;
}

/* left side conversations */
.my-message .conversation-item-wrapper {
  display: flex;
  justify-content: start;
  margin-bottom: 8px;
}

.my-message .conversation-item-text {
  max-width: var(--w-half);
  padding: 15px 25px;
  background-color: var(--c-blue-100);
  font-size: 14px;
  color: var(--c-black);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.my-message .conversation-time {
  font-size: 10px;
  color: var(--c-grey-300);
  margin-top: 6px;
}

/* right side conversations  */
.received-message .conversation-item-wrapper {
  display: flex;
  justify-content: end;
  margin-bottom: 6px;
}

.received-message .conversation-item-text {
  max-width: var(--w-half);
  padding: 15px 25px;
  font-size: 14px;
  text-align: right;
  background-color: var(--c-blue-300);
  color: var(--c-white);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: var(--shadow-black);
}

.received-message .conversation-time {
  font-size: 10px;
  text-align: right;
  color: var(--c-grey-100);
  margin-top: 6px;
}

.conversation-media-container {
  display: flex;
  gap: 10px;
}

.conversation-media {
  width: 200px;
  height: 140px;
  border-radius: var(--br-10);
  object-fit: cover;
}
/* \\\\ end of conversation body  */


/* Footer - input textfield */
.conversation-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--w-full);
  height: var(--h-conversation-footer);
  padding: 0 20px;;
}

.textbar-container{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: var(--w-full);
  height: 45px;
  padding: 0 10px;
  background-color: var(--c-blue-100);
  border-radius: var(--br-25);
}

.text-input-area{
  width: 100%;
  font-family: inherit;
  background-color:transparent;
  color:var(--c-grey-300);
  padding: 0 10px;
  border: none;
  outline: none;
}

.textbar-icons-array{
  display: flex;
  align-items:center;
  gap: 20px;
  padding: 0 10px;
}

.textbar-icons{
  font-size: 22px;
  color: var(--c-grey-300);
  cursor:pointer;
}

.textbar-icons:hover,
.send-btn{
  color: var(--c-blue-300);
}

.emoj-icon {
  width: 30px;
  height: 30px;
}
/* \\\\ end of SECTION 2 */
