.app-container {
  display: flex;
  flex-direction: row;
  height: var(--h-screen);
  max-width: 1440px ;
  margin: 0 auto;
  
}

/* App sidebar */
.app-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
  height: var(--h-full);
  width: var(--w-app-sidebar);
  background-color: var(--c-white);
}

.app-sidebar-menu {
  width: var(--w-full);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--g-18);
}

.logo-container {
  display: grid;
  place-items: center;
  height: var(--h-sidebar-header);
  width: var(--w-full);
}

.app-sidebar-logo {
  display: block;
  width: 40px;
  height: 40px;
}

.app-sidebar-icons {
  width: 100%;
  text-align: center;
  font-size: var(--f-size-xl);
  color: var(--c-grey-300);
  transition: color 0.15s ease-in-out;
}

.app-sidebar-menu .active  {
  font-size: var(--f-size-xxl);
  color: var(--c-blue-300);
  box-shadow: var(--shadow-blue);
}

.app-sidebar-icons:hover {
  color: var(--c-blue-300);
}
/* \\\\ end of app sidebar */





/* Chat list area - SECTION 1 */
.app-chat-container {
  display: flex;
  width: calc(100% - var(--w-app-sidebar));
  background-color: var(--c-white);
  height: var(--h-full);
}

.chat-list-container {
  height: var(--h-full);
  width: var(--w-chatlist-container);
  background-color: var(--c-blue-100);
}

/* header */
.chat-list-header {
  display: flex;
  align-items:center;
  padding: 0 22px;
  border-bottom: 1px solid var(--c-grey-200);
  height: var(--h-chatlist-header);
}

.chat-list-user-details{
  display: flex;
  align-items: center;
  gap: var(--g-12);
}


.user-image {
  height: var(--h-profile-picture);
  width: var(--w-profile-picture);
  border-radius: var(--br-radius-full);
  display: block;
  object-fit: cover;
}


/* search bar */
.chat-list-search-bar {
  height: var(--h-search-bar);
  padding: 20px 16px;
  position: relative;
}

.search-icon {
  width: 15px;
  position: absolute;
  top: 31px;
  left: 30px;
}

.chat-list-input {
  width: var(--w-full);
  border-radius: var(--br-25);
  padding: 10px 32px 10px 34px;
  outline: none;
  border: none;
}

/* archive count */
.archieve-count-container {
  height: var(--h-archieve-container);
  text-align: center;
}

.archive-btn{
  height: var(--h-full);
  color: var(--c-grey-300);
}

.archieve-icon {
  font-size: var(--f-size-l);
}

/* messeged contacts list  */
.messeged-contacts-container {
  height: calc(100% - (var(--h-chatlist-header) + var(--h-archieve-container) + var(--h-search-bar)));
  padding: 0 10px;
  overflow-y: auto;
}

.messeged-contact-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--g-12);
  border-radius: var(--br-8);
  padding: 13px 16px;
  color: var(--c-black);
}

.messeged-contact-link:hover {
  background-color: var(--c-blue-200);
}

.messeged-contact-image {
    height: var(--h-profile-picture);
    width: var(--w-profile-picture);
    border-radius: var(--br-radius-full);
    display: block;
    object-fit: cover;
}

.messaged-contact-info {
  width: var(--w-full);
}

.messaged-contact-name {
  font-family: var(--font-medium);
  font-size: var(--f-size-l);
  font-weight: 500;
}

.messaged-contact-more {
  text-align: center;
  position: relative;
}

.unread-count-container {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: var(--br-radius-half);
  background-color: var(--c-blue-300);
}

.unread-count{
  color: var(--c-white);
  position: absolute;
  bottom: 23px;
  left: 21px;

}

.messaged-time {
  color: var(--c-grey-300);
}

.read-recipts{
  font-size: var(--f-size-xl);
  color: var(--c-grey-200)
}

.active > .messeged-contact-link {
  color: var(--c-white);
  background-color: var(--c-blue-300);
}

.active .secondary-text,
.active .messaged-time {
  color: var(--c-grey-100)
}


/* \\\\ end of SECTION 1  */




/* conversation area - SECTION 2 */
.conversation {
  height: var(--h-full);
  width: calc(100% - var(--w-chatlist-container));
}

/* header */
.conversation-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--h-conversation-header);
  padding: 0 22px;
  border-bottom: 1px solid var(--c-grey-200);
}

.active-user-profile {
  display: flex;
  align-items: center;
  column-gap: var(--g-12);
}


.conversation-header-icons {
  display: flex;
  align-items:center;
  column-gap: var(--g-12);
}

.icon-button {
  width: 35px;
  height: 35px;
  font-size: var(--f-size-xl);
  border-radius: var(--br-8);
  color: var(--c-grey-300);
  background-color: var(--c-grey-100);
  cursor: pointer;
  border:none;
}

.icon-button:hover {
  color: var(--c-blue-300);
}

/* conversation body */
.conversation-main {
  height: calc(100% - (var(--h-conversation-header) + var(--h-conversation-footer)));
  overflow-y: auto;
  padding: 20px;
}

.conversation-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: var(--g-6);
  
}

.current-convo-day {
  background-color: var(--c-grey-100);
  border-radius: var(--br-25);
  padding: 4px 10px;
  position: absolute;
  left: 50%;
}

/* left side conversations */
.left-convo .conversation-item-wrapper {
  display: flex;
  justify-content: start;
}

.left-convo .conversation-item-text {
  display: flex;
  flex-direction: column;
  row-gap: var(--g-6);
  max-width: var(--w-half);
  padding: 15px 25px;

  font-size: var(--f-size-m);
  line-height: 1.5;
  text-align: left;

  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  color: var(--c-black);
  background-color: var(--c-grey-100);
  box-shadow: var(--shadow-black);
}

.left-convo .conversation-time {
  font-size: var(--f-size-xs);
  text-align: left;
  color: var(--c-grey-300);
}

/* right side conversations  */
.right-convo .conversation-item-wrapper {
  display: flex;
  justify-content: end;
}

.right-convo .conversation-item-text {
  display: flex;
  flex-direction: column;
  row-gap: var(--g-6);
  max-width: var(--w-half);
  padding: 15px 25px;

  font-size: var(--f-size-m);
  line-height: 1.5;
  text-align: right;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  color: var(--c-white);
  background-color: var(--c-blue-300);
  box-shadow: var(--shadow-black);
}

.right-convo .conversation-time {
  font-size: var(--f-size-xs);
  text-align: right;
  color: var(--c-grey-100);
}

.conversation-media-container {
  display: flex;
  gap: var(--g-10);
}

.conversation-media {
  width: 200px;
  height: 140px;
  border-radius: var(--br-10);
  object-fit: cover;
}
/* \\\\ end of conversation body  */


/* Footer - input textfield */
.conversation-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--h-conversation-footer);
  position: relative;
}

.conversation-form-input {
  width: var(--w-full);
  padding: 16px 10px 16px 50px;
  background-color: var(--c-blue-100);
  margin: 0 20px;
  border-radius: var(--br-25);
  outline: none;
  border: none;
}

.form-icons-array {
  display: flex;
  gap: var(--g-18);
  font-size: var(--f-size-xl);
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.input-icons{
  font-size: var(--f-size-xl);
  color : var(--c-grey-300)
}

.input-icons:hover {
  color: var(--c-blue-300);
}

.emoj-icon-container {
  height: 30px;
  position: absolute;
  top: 20px;
  left: 35px;
  cursor: pointer;
}

.emoj-icon {
  width: 30px;
  height: 30px;
}
/* \\\\ end of SECTION 2 */
