



/* fonts sizes  */
:root {
  --f-size-xs: 10px;
  --f-size-s: 12px;
  --f-size-m: 14px;
  --f-size-l: 16px;
  --f-size-xl: 22px;
  --f-size-xxl: 24px;
}



.primary-text {
  font-weight: 600;
}

.secondary-text {
  font-size: var(--f-size-s);
  color: var(--c-grey-300);
}

.app-container {
  display: flex;
  flex-direction: row;
  height: var(--h-screen);
  width: var(--w-full);
}




/* App sidebar */
/* ----------- */

.app-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: var(--w-app-sidebar);
  height: var(--h-screen);
  background-color: var(--c-white);
}

.app-sidebar-menu-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
  width: var(--w-full);
}

.app-sidebar-logo {
  display: block;
  width: 35px;
}

.app-sidebar-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-sidebar-icons {
  display: block;
  text-align: center;
  padding: 10px 30px;
  font-size: var(--f-size-xl);
  color: var(--c-grey-300);
  transition: color 0.15s ease-in-out;
}

.app-sidebar-icons:hover {
  color: var(--c-blue-300);
}

.app-sidebar-menu > .active > .app-sidebar-icons {
  font-size: var(--f-size-xxl);
  color: var(--c-blue-300);
  box-shadow: var(--shadow-blue);
}

.app-sidebar-menu-bottom {
  margin-bottom: 40px;
}

.app-sidebar-menu-bottom > .app-sidebar-icons {
  display: block;
  padding: 5px 30px;
  text-align: center;
  font-size: var(--f-size-xl);
  color: var(--c-grey-300);
}
/* //// end of app sidebar */




/* Chat list area - SECTION 1 */
/* -------------------------- */

.app-chat-container {
  display: flex;
  flex-direction: row;
  width: var(--w-full);
  height: var(--h-screen);
}

.chat-list-container {
  display: flex;
  flex-direction: column;
  height: var(--h-full);
  width: var(--w-chatlist-section);
  background-color: var(--c-blue-100);
}

/* chat list header  */
.chat-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 22px;
  column-gap: 12px;
  border-bottom: 1px solid var(--c-grey-200);
  height: var(--h-header);
}

.user-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image {
  border-radius: var(--br-radius-full);
  width: var(--w-profile-picture);
  height: var(--h-profile-picture);
  object-fit: cover;
  cursor: pointer;
}

.user-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  cursor: pointer;
}

/* chatlist search bar  */
.chat-list-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80px;
  padding: 0 16px;
}

.search-icon {
  width: 15px;
  position: absolute;
  top: 32px;
  left: 30px;
}

.chat-list-input {
  border: none;
  width: 100%;
  font-size: var(--f-size-s);
  border-radius: 10px;
  padding: 10px 32px 10px 34px;
  color: var(--c-grey-300);
  background-color: var(--c-white);
}

/* archive count section */
.archieve-count-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  gap: 5px;
}

.archieve-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--c-grey-300);
  font-size: var(--f-size-s);
}

.archieve-icon {
  font-size: 20px;
  color: var(--c-grey-300);
}

/* messeged contacts list  */
.contacts-container {
  height: calc(100% - (var(--h-header) + var(--h-archieve-container) + var(--h-search-bar)));
  padding: 0 10px;
  overflow-y: auto;
}


.people-profiles {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--c-black);
  padding: 13px 16px;
  border-radius: 8px;
}

.people-profiles:hover {
  background-color: var(--c-blue-200);
}

.active > .people-profiles {
  background-color: var(--c-blue-300);
  color: var(--c-white);
  border-radius: 8px;
}

.messaged-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: var(--w-full);
}

.messaged-contact-name {
  display: block;
  font-size: var(--f-size-l);
  font-weight: 500;
}

.messaged-contact-text {
  font-size: var(--f-size-m);
  color: var(--c-grey-300);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.active > .people-profiles > .messaged-contact-info > .messaged-contact-text {
  color: var(--c-grey-200);
}

.messaged-contact-more {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}

.messaged-contact-unread-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--c-blue-300);
  border-radius: 50%;
  height: 18px;
  width: 18px;
}

.unread-count {
  font-size: var(--f-size-s);
  font-weight: 400;
  color: var(--c-white);
}

.messaged-contact-time {
  font-size: var(--f-size-s);
  color: var(--c-grey-200);
  font-weight: 500;
}
/* //// end of SECTION 1  */




/* conversation area  SECTION 2 */
/* ---------------------------- */

.conversation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--c-white);
  height: var(--h-screen);
  width: 100%;
}

/* conversation header  */
.conversation-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  height: var(--h-header);
  border-bottom: 1px solid var(--c-grey-200);
}

.active-user-profile {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  column-gap: 12px;
}

.active-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.conversation-header-icons {
  display: flex;
  column-gap: 12px;
}

.icon-button {
  padding: 5px 8px;
  font-size: 22px;
  border-radius: 8px;
  color: var(--c-grey-300);
  background-color: var(--c-grey-100);
  border: none;
  cursor: pointer;
}

.icon-button:hover {
  color: var(--c-blue-300);
}


/* conversation body */
.conversation-main {
  overflow-y: auto;
  height: calc(100% - 205px);
  padding: 16px;
}


.conversation-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}

.current-convo-day {
  font-size: var(--f-size-s);
  padding: 4px 10px;
  border-radius: 5px;
  color: var(--c-grey-300);
  background-color: var(--c-grey-100);
  left: 50%;
  position: absolute;
}

/* left side conversations  */
.left-convo .conversation-item-wrapper {
  display: flex;
  justify-content: start;
}

.left-convo .conversation-item-text {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  max-width: 50%;
  padding: 15px 25px;

  font-size: var(--f-size-m);
  line-height: 1.5;
  text-align: left;

  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  color: var(--c-black);
  background-color: var(--c-grey-100);
  box-shadow: var(--shadow-black);
}

.left-convo .conversation-time {
  font-size: var(--f-size-xs);
  text-align: left;
  color: var(--c-grey-300);
}

/* right side conversations  */
.right-convo .conversation-item-wrapper {
  display: flex;
  justify-content: end;
}

.right-convo .conversation-item-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  row-gap: 6px;
  max-width: 50%;
  padding: 15px 25px;

  font-size: var(--f-size-m);
  line-height: 1.5;
  text-align: right;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  color: var(--c-white);
  background-color: var(--c-blue-300);
  box-shadow: var(--shadow-black);
}

.right-convo .conversation-time {
  font-size: var(--f-size-xs);
  text-align: right;
  color: var(--c-grey-100);
}

.conversation-media-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.conversation-media {
  width: 200px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}
/* //// end of conversation body  */


/* conversation input - Footer  */
.conversation-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70px;
}

.conversation-form-input {
  border: none;
  width: 100%;
  font-size: var(--f-size-s);
  border-radius: 25px;
  padding: 16px 10px 16px 50px;
  margin: 10px 20px;
  color: var(--c-grey-300);
  background-color: var(--c-blue-100);
}

.form-icons-array {
  display: flex;
  cursor: pointer;
  position: absolute;
  gap: 18px;
  right: 40px;
  font-size: var(--f-size-xl);
  color: var(--c-grey-300);
}

.input-icons:hover {
  color: var(--c-blue-300);
}

.emoj-icon-container {
  top: 20px;
  left: 35px;
  height: 30px;
  cursor: pointer;
  position: absolute;
}

.emoj-icon {
  width: 30px;
}
/* //// end of SECTION 2 */
