.title {
    font-size: var(--f-size-m);
    font-family: var(--font-semibold);
    color: var(--c-black)
}

.secondary-text {
    font-family: var(--font-regular);
    color: var(--c-grey-300)
}